mixin buttonsFormElements
    div.buttons-row
        button.buttons__full-gradient CLICK ME
        button.buttons__full-gradient.disable CLICK ME
    div.buttons-row
        button.buttons__border-gradient CLICK ME
        button.buttons__border-gradient.disable CLICK ME
    div.buttons-row-2
        a.buttons__only-text CLICK ME
        a.buttons__only-text.disable CLICK ME
    button.buttons__biggest
        h3 ПЕРЕЙТИ К ОПЛАТЕ
        i.material-icons arrow_forward

mixin buttonFullGradient(title='CLICK ME')
    button.buttons__full-gradient= title

mixin buttonFullGradientDisabled(title='CLICK ME')
    button.buttons__full-gradient.disable= title

mixin buttonBorderGradientSignIn(titleOne='CLICK ME')
    button.buttons__border-gradient.button-sign-in= titleOne

mixin buttonBorderGradientCreate(titleOne='CLICK ME')
    button.buttons__border-gradient.button-create= titleOne

mixin buttonOnlyText(title='CLICK ME')
    a.buttons__only-text= title

mixin buttonOnlyTextDisable(title='CLICK ME')
    a.buttons__only-text.disable= title

mixin buttonBiggest(titleOne = 'ПЕРЕЙТИ К ОПЛАТЕ')
    button.buttons__biggest
        h3= titleOne
        i.material-icons arrow_forward